.formgroup{
    width: 100%;
}

.formgroup > * {
    width: 90%;
    height: 80%;
    margin: 1em;
    padding: 5% 2%;
}

.formgroup input{
    border-radius: 1em;
    
}

.formgroup select{
    border-radius: 1em;
}
