.calculatemain{
    padding: 2% 5%;  
}

.calculatemain > * {
    text-align: center;
}

.calculatemain h2{
    margin-bottom: 0.5em;
    text-align: left;

}

.calculatemain h1{
    text-align: left;
    
}